.purchase-grid {
    display: grid;
    margin: 5rem 1rem 1rem 1rem;
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(8, 1fr);
}

.purchase-info {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-title {
    text-transform: uppercase;
}

.total {
    font-size: 2.3rem;
}

.rates {
    font-size: 0.8rem;
}

.purchase-settings {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout-title {
    font-size: 1.5rem;
    text-align: center;
}

.form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

form>input {
    border: 1px #e0e0e0 solid;
    border-radius: 25px;
    padding: 0.4rem 2rem;
    margin: 0.5rem 0;
    background-color: #fcfcfc;
    font-size: 0.9rem;
    text-align: center;
    width: 95%;
}

form>button {
    border: none;
    margin: 0.7rem 0;
    width: 95%;
}

form>input::-webkit-inner-spin-button,
form>input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.methods {
    display: flex;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}

.btn-label>label {
    font-size: 0.85rem;
}

.method-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}


@media all and (max-width: 768px) {
    .purchase-grid {
        margin-bottom: 5rem;
        margin-top: 1rem;
    }

    .purchase-info {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .purchase-settings {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 6;
    }
}